/*Additional goodle fonts

font-family: 'Fredericka the Great', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;


             


*/
body{
    background: rgb(248, 233, 240);
}

.fredericka{
    font-family: 'Fredericka the Great', cursive;
};

.philosopher{
    font-family: 'Philosopher', sans-serif;
}

.poppins{
    font-family: 'Poppins', sans-serif;
};

.yanone{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}